//COLORS
$deep-blue: #25555f;
$white: #F1F5F2;
$white-text: #E3E3E3;
$blue: #5D737E;
$purple: #3c2c63;
$salmon: #012832;
$dark-blue: #151f32;
$midnigth: #012832;

//Fonts
$title: 'Unbounded', cursive;
$normal: 'Hanken Grotesk', sans-serif;